@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #12D861;
}

h1,
h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header {
  display: flex;
  justify-content: center;
  color: #fff;
}

header ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  gap: 1em;
}

header ul li {
  text-transform: capitalize;
}

.swiper-container {
  max-width: 700px;
  margin: 0 auto;
}

.trackSlide-inner {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

.trackCredentials {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.albumCover-container img {
  width: 200px;
  height: 200px;
}

section.moodButtons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

section.moodButtons button > * {
  display: flex;
  flex-direction: column;
}

section.moodButtons button {
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

section.moodButtons button:hover {
  background-color: #ccc;
}

section.moodButtons button span {
  font-size: 60px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #F56EBD !important;
}

.swiper-pagination-progressbar {
  background: rgba(0,0,0,.15) !important;
}